.wrapper {
  width: 720;
  height: 900px;
  font-family: "Arial";
  color: #333333;
}

.information {
  height: 138px;
}

.information-foto {
  background: url(../img/foto.jpg) -20px -15px;
  width: 120px;
  height: 120px;
  margin: 13px 0px 0px 21px;
  border-radius: 60px;
  position: relative;
  float: left;
  z-index: 2;
}

.information-name-pos-com {
  width: 302px;
  height: 101px;
  float: left;
  margin: 25px 20px 0 10px;
}

.information-name {
  font-size: 16px;
  font-weight: bold;
}

.information-pos {
  font-size: 12px;
  color: #808080;
  margin-top: 7px;
}

.information-com {
  font-size: 14px;
  line-height: 1.429;
  width: 315px;
  min-height: 47px;
  background-color: #fffbc8;
  border: 1px solid #cecabf;
  border-radius: 4px;
  position: absolute;
  left: 107px;
  padding-left: 46px;
  padding-top: 10px;
  margin-top: 5px;
  margin-bottom: 12px;
}


.services {
  height: 166px;
  position: relative;
}

.services-quantity {
  font-size: 13px;
  position: relative;
  float: right;
  right: 53px;
}

.services-names {
  width: 320px;
  height: 108px;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  position: relative;
  float: right;
  top: 20px;
}

.servies-name-left-border {
  width: 1px;
  height: 76px;
  opacity: 0.5;
  background-color: #cccccc;
  position: relative;
  top: 8px;
  float: left;  
  border: 0;
}

.services-names-quantity-first {
  font-size: 13px;
  width: 219px;
  height: 24px;
  background-color: #b1e19b;
  margin-top: 16px;
  padding-left: 7px;
  line-height: 24px;
  border-radius: 0 3px 3px 0;
}

.services-names-quantity-second {
  font-size: 13px;
  width: 47px;  
  height: 24px;
  background: #ace2f8;
  margin-top: 2px;
  padding-left: 7px;
  line-height: 24px;
  border-radius: 0 3px 3px 0;
}

.services-names-quantity-second-name {
  width: 100px;
}

.services-names-quantity-third {
  font-size: 13px;
  width: 29px;  
  height: 24px;
  background: #ace2f8;
  margin-top: 2px;
  padding-left: 7px;
  line-height: 24px;
  border-radius: 0 3px 3px 0;
}

.services-names-quantity-all {
  font-size: 13px;
  position: relative;
  top: -24px;
  margin-left: 273px;
  width: 20px;
  height: 20px;
}

.services-all {
  position: relative;
  top: 25px;
}

.services-all-text {
  font-size: 16px;
  font-weight: bold;
  float: left;
}

.services-all-sum {
  font-size: 16px;
  font-weight: bold;
  position: relative;
  float: right;
  right: 23px;
}

.comment {
  height: 590px;
  position: relative;
  margin-top: 15px;
}

.comment-last {
  font-size: 16px;
  font-weight: bold;
  margin-left: 20px;
  float: left;
}

.comment-all {
  font-size: 14px;
  position: relative;
  padding-top: 15px;
  margin-left: 10px;
}

.comment-like {
  width: 12px;
  height: 11px;
  background: url(../img/like.png);
  float: right;
  margin-right: 95px;
}

.comment-like-quantity {
  font-size: 12px;
  margin-left: 16px;
}

.comment-quantity {
  width: 13px;
  height: 12px;
  background: url(../img/comment.png);
  float: right;
  margin-right: -68px;
}

.comment-quantity-numb {
  font-size: 12px;
  margin-left: 18px;
}

.comment-one {
  min-height: 72px;
  font-size: 14px;
  margin-top: 20px;
  margin-left: 20px;
}

.comment-one-name {
  font-weight: bold;
  float: left;
  margin-right: 9px;
}

.comment-one-date {
  font-size: 11px;
  color: #a7a7a7;
  line-height: 16px;
}

.comment-one-commnet {
  font-size: 14px;
  width: 90%;
  min-height: 24px;
  background-color: #f2fbff;
  position: relative;
  margin-top: -15px;
  padding-top: 15px;
  padding-left: 20px;
  padding-bottom: 7px;
  border: 1px solid #cfcfcf;
  line-height: 1.4;
}

.comment-one-deg {
  width: 9px;
  height: 9px;
  background: #f2fbff;
  position: relative;
  top: 15 px;
  left: 23px;
  clip-path: polygon(100% 100%, 0 0, 0 100%);
  border-left: 1px solid #cfcfcf;
  z-index: 2;
}

.comment-one-deg-deg {
  width: 13px;
  height: 14px;
  background: #f2fbff;
  position: relative;
  top: -7px;
  left: 17px;
  border-left: 1px solid #cfcfcf;
  transform: rotate(133deg);
  clip-path: polygon(0 105%, 100% 0, 0 0);
  z-index: 1;
}

.addComment {
  width: 100%;
  height: 200px;
  background-color: #f2f2f2;
  margin-top: 20px;
  position: relative;
}

.addComment-input {
  width: 80%;
  height: 63px;
  margin-left: 10%;
  margin-top: 29px;
  border: 1px solid #a9a9a9;
}

.addComment-button {
  width: 282px;
  height: 44px;
  background: #fdd639;
  border: 0;
  border-radius: 44px;
  font-size: 20px;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  display: block;
  margin: 22px auto;

}
  @media (min-width: 360px) and (max-width: 720px) {
    .information {
      width: 100%;
    }
    .information-name-pos-com {
      width: 41%;
    }

    .information-com {
      width: 54%;
    }
    
    .services {
      margin-top: 25px;
    }

    .comment-nav {
      position: relative;
      margin-left: -12px;
    }

    .comment-like, .comment-quantity{
      margin-top: 4px;
    }

    .comment-quantity {
      margin-right: -60px;
    }
  }